:root {
  --light-color: #EAF2F4;
  --dark-color: #20364C;
  --neutral-color: #C1D2D6;
  --header-title-font: normal 700 4rem/4.6rem "MontserratBold";
  --header-subtitle-font: normal 400 1.8rem/2.2rem "MontserratRegular";
  --social-font: normal 300 0.85rem/1rem "MontserratLight";
  --section-title-font: normal 700 1.85rem/2.2rem "MontserratBold";
  --section-subtitle-font: normal 700 1rem/1.2rem "MontserratBold";
  --section-text-font: normal 300 0.85rem/1rem "MontserratLight";
  --aside-text-font: normal 500 0.85rem/1rem "MontserratMedium";
}