@import "_fonts.css";
@import "_normalize.css";
@import "_variables.css";

:root {
  font-size: 0.625em;
}

.body {
  background-color: var(--light-color);
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.pl {
  padding-left: 2.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 62rem;
  height: auto;
  margin: auto;

  background-color: var(--dark-color);
  background-image: url(../img/bg-right.png);
  background-repeat: no-repeat;
  background-position: 101% 0;
  outline: 1px solid rgba(193, 210, 214, 0.5);
}

/*==================== Header ====================*/

.header {
  display: flex;
  height: 20rem;

  background-image: url(../img/bg-header.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.header__info {
  order: 0;
  flex-basis: 60%;

  display: flex;
  flex-direction: column;
  margin-left: 3.6rem;
  margin-top: 4.4rem;

  color: var(--light-color);
}

.header__title {
  font: var(--header-title-font);
}

.header__subtitle {
  margin: 0.5rem 0;

  font: var(--header-subtitle-font);
}

.header__avatar {
  order: 1;
  flex-basis: 40%;
}

.avatar {
  width: 16rem;
  height: 16rem;
  margin: 7.5rem 9.5rem 0 0;

  border: 1px solid transparent;
  border-radius: 1.6rem;

  transform: rotate(-45deg);

  overflow: hidden;
}

.avatar>img {
  max-width: 100%;

  background-image: url(../img/bg-avatar.png);
  background-repeat: no-repeat;

  transform: rotate(45deg) scale(1.43);
}

/*================= End of Header ================*/


/*===================== Main =====================*/

.main {
  display: flex;
}

/*================= Main Article =================*/

.main__article {
  order: 0;
  flex-basis: 60%;

  color: var(--light-color);
}

.social__links {
  list-style: none;

  display: flex;
  align-items: center;
  margin: 3.3rem 0 3.3rem 2.2rem;
  padding: 0;

  line-height: 1.2rem;
}

.social__link {
  display: flex;
  margin-right: 2rem;

  font: var(--social-font);
}

.social__link:hover,
.social__link:focus {
  outline: 1px dashed var(--neutral-color);
}

.social__link--icon {
  margin-right: 0.5rem;
}

.main__section {
  max-width: 27rem;
}

.main__section--title {
  font: var(--section-title-font);
  color: var(--dark-color);

  background-image: url(../img/bg-section-title.png);
  background-repeat: no-repeat;
}

.main__section--subtitle {
  margin: 0.8rem 0;

  font: var(--section-subtitle-font);
}

.main__section--text {
  margin: 0.8rem 0;

  font: var(--section-text-font);
  text-align: left;
}

/*============== End of Main Article ==============*/


/*===================== Aside =====================*/

.aside {
  order: 1;
  flex-basis: 40%;
}

/*================= End of Aside =================*/
/*================= End of Main ==================*/



/*===================== Footer =====================*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  max-width: 31rem;

  font: var(--section-subtitle-font);

  background-image: url(../img/bg-footer.png);
  background-repeat: no-repeat;
  background-size: 31rem 3rem;
  background-position: 0 100%;
}

/*================== End of Footer =================*/

.github__link--inline {
  border-bottom: 1px dashed;
}